<a href="https://colab.research.google.com/github/AdityaSai2004/100DaysofML/blob/main/100daysofml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 1**

In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow import keras

In [ ]:
X=[0,1,2,3,4,5,6]
Y=[0.5,0.6,0.7,0.8,0.9,1.0,1.1]
def salary_model(y_new):
  model = keras.Sequential([keras.layers.Dense(units=1, input_shape=[1])])
  model.compile(optimizer="sgd", loss='mean_squared_error')
  model.fit(X, Y, epochs=500)
  return model.predict(y_new)[0][0]

In [ ]:
prediction = salary_model([8.0])

In [ ]:
print(prediction)

1.3211551

# **Day 5**

Salary Predictor

Dataset: https://www.kaggle.com/jackogozaly/data-science-and-stem-salaries

In [ ]:
#importing everything

import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/AdityaSai2004/100DaysofML/main/Datasets/Levels_Fyi_Salary_Data.csv")
print(df.columns)

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [ ]:
df_clean=df[['company','totalyearlycompensation','yearsofexperience', 'yearsatcompany','basesalary']]
df_clean.head()

,company,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary
0,Oracle,127000,1.5,1.5,107000.0
1,eBay,100000,5.0,3.0,0.0
2,Amazon,310000,8.0,0.0,155000.0
3,Apple,372000,7.0,5.0,157000.0
4,Microsoft,157000,5.0,3.0,0.0

In [ ]:
x_train=df_clean.iloc[:50000,2:]
y_train=df_clean.iloc[:50000,1]
x_test=df_clean.iloc[50000:,2:]
y_test=df_clean.iloc[50000:,1]
x_train.insert(loc=3,column='b',value=1)
x_test.insert(loc=3,column='b',value=1)

In [ ]:
def rmse(targets, predictions):
    return np.sqrt((np.square(predictions - targets)).mean())

def calculateWeights(x_train, y_train):
    w = np.linalg.inv(np.transpose(x_train).dot(x_train)).dot(np.transpose(x_train).dot(y_train))
    return w

In [ ]:
w=calculateWeights(x_train, y_train)
print(x_train.shape)
#training error prediction
y_train_pred=x_train.dot(w)
train_er=rmse(y_train,y_train_pred)
print(train_er)

(50000, 4)
92469.43809773952

In [ ]:
#testing error prediction
y_test_pred=x_test.dot(w)
test_error=rmse(y_test,y_test_pred)
print(test_error)

121382.52351504723